<div class="container mt-3">
    <div class="row">
        <div class="card">
            <div class="card-header mt-3">
                <h2>BANKS</h2>
                <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="fa fa-plus" aria-hidden="true"> Add Bank</i>
                </button>
            </div>
            <div class="card-boady">
                <table class="table mt-2">
                    <thead>
                        <tr>
                            <th scope="col">Bank Name</th>
                            <th scope="col">Bank Code</th>
                            <th scope="col">Bank Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let bank of banks">
                            <td>{{bank.bankName}}</td>
                            <td>{{bank.code}}</td>
                            <td>{{bank.status}}</td>
                            <td>
                                <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onUpdate(bank, bank.bankId)">U</button>
                                <button class="btn btn-danger ms-1" (click)="deleteBank(bank.bankId)">D</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Bank Name</label>
                                    <input type="text" formControlName="bankName" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Bank Code</label>
                                    <input type="text" formControlName="code" class="form-control" />

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" formControlName="status" type="radio" name="status"
                                            id="status" value="A">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Active
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" formControlName="status" name="status"
                                            id="status" value="I">
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            Inactive
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary float-end">{{ isUpdate ? 'Update' : 'Save' }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>